<html> 

body{
    margin:0;
    padding:0;
}

.maindiv{
    width:100%;
    height:100%;

}

.container{
    text-align:center;
    margin-top:6px;
}

.btn{
    color:rgb(226, 43, 195);
    border: 7px solid rgb(7, 116, 124);
    background:rgb(134, 197, 221);
    font-size: 4.7vh;
    padding:19px 18px;

}



.containt{
    height: 90vh;
    width:100%;
    background-image:url(23.png);
    text-align: center;
}

.anime{
    height:70px;
    width: 70px;
    animation-name: example;
    position: relative;
    animation-duration: 4s;
    background-color: aqua;
    position: relative;
    animation-iteration-count: infinite;
    
   }

   @keyframes anime {

    0%{ background-color:aqua; top:0 ; left: 470px; }
    25%   {background-color:pink; top: 0; left: 570px;}
    50%   {background-color: brown;top:200px; left:570px}
    75%   {background-color: rgb(139, 70, 185);top:200px; left:0}
   100%    {background-color: rgb(186, 226, 43);top:0;left: 470px;}
   }

   .anime2{
    height:70px;
    width: 70px;
    animation-name: anime2;
    position: relative;
    animation-duration: 4s;
    background-color: aqua;
    position: relative;
    animation-iteration-count: infinite;
    
   }

   @keyframes anime2 {

    0%{ background-color:aqua; top:0 ; left: 770px; }
    25%   {background-color:pink; top: 0; left: 800px;}
    50%   {background-color: brown;top:200px; left:800px}
    75%   {background-color: rgb(139, 70, 185);top:200px; left:400}
   100%    {background-color: rgb(186, 226, 43);top:0;left: 770px;}
   }
   
   
.footer{
    margin-top:10px;
    text-align: center;
    color:aliceblue;
    height:5vh;
    width:100%;
    background-color:rgb(13, 17, 13);
}




</html>
