<html> 

body{
    margin:0;
    padding:0;
}

.maindiv{
    width:100%;
    height:100%;

}

.container{
    text-align:center;
    margin-top:6px;
}

.btn{
    color:rgb(226, 43, 195);
    border: 7px solid rgb(7, 116, 124);
    background:rgb(134, 197, 221);
    font-size: 4.7vh;
    padding:19px 18px;

}



.containt{
    height: 80vh;
    width:100%;
    background-image:url(23.png);
    text-align: center;
}


.footer{
    margin-top:10px;
    text-align: center;
    color:aliceblue;
    height:5vh;
    width:100%;
    background-color: rgb(27, 22, 15);
}




</html>
